
<div class="row mt-5">
  <div class="col-lg">
  </div>
  <div class="col-lg">
    <h1>Registration</h1>
    <%= form_with model: @user, url: registrations_path, class: "mt-4" do |form| %>
      <div class="mb-3">
        <%= form.label :email, "Email address", class: "form-label" %>
        <%= form.email_field :email, class: "form-control", placeholder: "name@example.com", "aria-describedby" => "emailHelp", autofocus: true %>
        <%= error_message_for(@user, :email) %>
      </div>
      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>
        <%= error_message_for(@user, :password) %>
      </div>
      <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
        <%= error_message_for(@user, :password_confirmation) %>
      </div>
      <div class="mt-4">
        <%= form.submit "Register", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
  <div class="col-lg">
  </div>
</div>
